body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #666666;	
	margin: 0px;
	padding: 0px;
	background-color: #111111; 
	text-align:center;
}

#hr-body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #666666;	
	margin: 0px;
	padding: 0px;
	background-color: black; 
	text-align:center;
}

#whole_page {
	text-align:left;
   	margin:0 auto;
   	width:1071px;
}

a:link {
	text-decoration: none;
 	color: #0000cc;
}

a:focus {
	text-decoration: none;
	color: #a60000;
	outline:0;
}

a:visited {
}

a:hover {
	text-decoration: none;
	color: #a60000;
}

a:active {
	text-decoration: none;
 	color: #ffcc00;
}

#gallery-index-column {
  width:232px;
}

#album-index-column {
  width:116px;
}

.albumzelle {
  width:232px;
  height:116px;
  margin-left:2px;
  margin-right:2px
}

.bildzelle {
  width:116px;
  height:116px;
  margin-left:2px;
  margin-right:2px
}

.album {
	font-size: 14px;
	font-weight: bold;
	color: #666666;
}

.album:link {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
}

.album:visited {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
}

.album:focus {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #a60000;
}
.album:hover {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #a60000;
}

.album:active {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
 	color: #ffcc00;
}

.gal-info {
	margin-left: 18px;
	border-left: 6px solid #111111;	
	color: #666666;
}
	
.gal-info:link {
	margin-left: 18px;
	border-left: 6px solid #111111;	
	color: #666666;
}

.gal-info:visited {
	text-decoration: none;
	color: #666666;
	margin-left: 18px;
	border-left: 6px solid #111111;
}

.gal-info:focus{
	text-decoration: none;
	font-weight: bold;
	color: #a60000;
	margin-left: 18px;
	border-left: 6px solid #111111;
}

.gal-info:hover {
	text-decoration: none;
	font-weight: bold;
	color: #a60000;
	margin-left: 18px;
	border-left: 6px solid #111111;
}

.gal-info:active {
	text-decoration: none;
	font-weight: bold;
 	color: #ffcc00;
	margin-left: 18px;
	border-left: 6px solid #111111;
}

.logo { 
	background-image:url(img/Logo_link.png);
}

.navi { 
	border: 2px solid #111111;
}

.navi:hover { 
	border: 2px solid #a60000;
}

.navi:active {
 	border: 2px solid #ffcc00;
}

.navithumb { 
	border: 2px solid #111111;
}

.navithumb:hover { 
	border: 2px solid #a60000;
}

.navithumb:active { 
	border: 2px solid #ffcc00;
}

.navizelle-left { 
	width: 58px;
	height: 38px;
	margin-right: 8px;
	vertical-align: middle;	
	text-align: right;
}

.navizelle-right { 
	margin-left: 8px;
	vertical-align: middle;	
	text-align: left;
}

.thumb { 
	border: 2px solid #000000;
	border-collapse: collapse;
}

.thumb:hover { 
	border: 2px solid #a60000;
	border-collapse: collapse;
}

.thumb:active { 
	border: 2px solid #ffcc00;
	border-collapse: collapse;
}

.index-pager { 
	border: 2px solid #000000;
	border-collapse: collapse;
}

.index-pager:hover { 
	border: 2px solid #a60000;
	border-collapse: collapse;
}

.index-pager:active{ 
	border: 2px solid #ffcc00;
	border-collapse: collapse;
}

.thumbzelle_small {
	width: 116px;
	height: 80px;
	vertical-align: middle;
	text-align: center;
}

div.thumbzelle_small {
	width: 189px;
	text-align: left;
	margin-left: 15px;
}

div.thumbzelle_small_inner {
	width: 88px;
	text-align: center;
}

.table1 {
	border-collapse: collapse;
	border: 0px;
	padding: 0px;
}

#table_hr {
	border-collapse: collapse;
	border: 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
	background-color: #111111;
}

.title { 
	font-size: 14px;
	font-weight: bold;	
	margin-right: 8px;		
	margin-left: 8px;
	margin-bottom: 2px;
}
	
.subtitle { 
	font-size: 11px;
	font-weight: bold;	
	margin-right: 8px;		
	margin-left: 8px;
}

.txtwindow {
	font-size: 13px;
	color: #000000;	
	background-color: #cccccc;
	border: 0px;
}

#leerzelle1 {
	width:190px;
	height:40px;
}

#logozelle {
	width:696px; 
}

#leerzelle2 {
	width:116px;
}

#menuzelle {
	height:580px; 
	font-size:12px;
	line-height: 110%;
	vertical-align:top;
}

#hauptzelle {
	border-collapse:collapse; 
	border:1px solid #333333;
	background-color:#000000;	
	vertical-align: middle;
	text-align: center;
}

#picture-table {
	border-collapse:collapse; 
	vertical-align: middle;
	text-align: center;
	height: 696px;
	width: 696px;
}

div.hauptzelle {
	height: 696px;
	width: 696px;
}

iframe.hauptzelle {
	height: 696px;
	width: 696px;
}

#thumbzelle {
	height: 580px;
}

#titelzelle {
	width: 174px;
	height:58px;
	line-height: 180%;
	color: #666666;
	border-bottom: 1px solid #a60000;
	text-align:right;
	vertical-align: bottom;
}

#subtitelzelle {
	height:58px;
	line-height: 180%;	
	color: #666666;
	text-align:right;
	vertical-align:top;
}

#navizelle {	
	height:116px;
}

.effect1 {
	color: #999999;
	font-weight: bold;
	border-left:6px solid #a60000;
	border-bottom:1px solid #a60000;
    margin-left: 18px;
    text-decoration: none;
}

#effect2 {
	border-left: 8px solid #a60000;
	border-right: 8px solid #a60000;
	border-top: 2px solid #a60000;
	border-bottom: 2px solid #a60000;
}

#logo {
	border-style: none;
}

#meta-data-outer {
  top:44px;
  left:191px;
  width:694px;
  height:694px;
  position:absolute;
  background:#000000;
  filter:alpha(opacity=90);
  -moz-opacity:0.9;
  opacity:0.9;
  display:none;
  margin-bottom:100px;
}

#meta-data-inner {
  bottom:35px;
  left:50px;
  right:50px;
  position:absolute;
}

#meta-data-table {
  width:100%;
}

.meta-data-td {
  color: #999999;
  font-size:14px;
}

div.gallery_row div.gallery_thumb {
   height:116px; 
}

div.gallery_thumb {
   width:232px; 
}

#highres_pic {
  text-align: center;
  border-collapse: collapse;
  border-top: 1px solid #333333;
  background-color:black;
}

div.menu_galleries {
  height: 300px;
  width: 189px;
}

div.menu-dummy {
  width: 189px;
  height: 580px;
}

div.thumb-stripe-dummy {
  width: 189px;
}

div.menu_custom_pages {
}

div.menu_entry {
  margin-top: 9px;
}

div.menu_sub_entry {
  margin-top: 5px;
  margin-left: 40px;
  color: #999999;
  font-weight: bold;
}

.gb_window {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  color: #000000;	
  background-color: #cccccc;
  border: 0px;
}

.gb_form {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}

.gb_form_td_1 {
  vertical-align: top;	
  text-align: right;
}

.gb_form_td_4 {
  text-align: right;
}

.gb_entries {
  border-collapse:collapse;
  border-left-color:#555555;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#555555;
  border-right-style:solid;
  border-right-width:1px;
  width:95%;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}

.gb_name_date {
  background-color:#999999;
  border-top-color:#555555;
  border-top-style:solid;
  border-top-width:1px;
}

.gb_name {
  float: left;
  text-align: left;
  width:40%;
  margin-left:4px;
  margin-bottom:2px;
}

.gb_date {
  float:right;
  text-align: right;
  width:40%;
  margin-right:4px;
  margin-bottom:2px;
}

.gb_text {
  padding: 5px;
  border-bottom-color:#555555;
  border-bottom-style:solid;
  border-bottom-width:1px;
}

#gb_form_name_input {
  width: 225px;
}

#gb_form_email_input {
  width: 225px;
}

#gb_form_message_textarea {
  width: 100%;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}

#slideshow-speed {
  text-align:center;
  vertical-align:middle;
  color:#3c3c3c;
  border-collapse:collapse;
  border:1px solid #222222;
}

#seconds {
  font-weight: bold;
}
